@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 22, 255, 111;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
 */

.body {
	background: #FCFCFC;
}
